.edu-section {
    width: 100%;
    padding-top: 50px;
    padding-bottom: 100px;
    padding-right: 0;
    padding-left: 0;
}

.edu-h2 {
    margin-left: 100px;
    margin-top: 0;
    margin-bottom: 50px;
    color: #2b2929;
    font-size: 40px;
    font-weight: 400;
}

.edu-content {
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
}

.edu {
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 0 auto;
    height: auto;
    flex-wrap: wrap;
}

.edu-info {
    width: 40%;
    margin-right: 3%;
    margin-left: 3%;
    margin-bottom: 20px;
    height: auto;
    padding: 20px;
    border: 1px solid #1E1E1E;
    background-color: #1E1E1E;
    color: white;
}

.edu-info p>i {
    width: 15%;
}

.edu-info p {
    width: 100%;
}

.year {
    font-size: 18px;
    margin-top: 0;
}

.academy {
    font-size: 21px;
    font-weight: 600;
    margin-top: 2px;
}

.info {
    font-size: 20px;
    margin-bottom: 0;
}

@media(max-width: 1250px) and (min-width: 600px) {
    .edu-info {
        width: 40%;
        margin-right: 2%;
        margin-bottom: 3%;
    }
    .edu {
        width: 80%;
        margin: 0 auto;
        height: 800px;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }
}

@media only screen and (max-width: 600px) {
    .edu-h2 {
        margin-left: 100px;
        margin-top: 0;
        margin-bottom: 30px;
        color: white;
        font-size: 30px;
    }
    .edu-info {
        width: 100%;
        height: 140px;
        margin-bottom: 20px;
    }
    .edu {
        flex-direction: column;
        height: auto;
        position: static;
        width: 60%;
    }
    .academy {
        font-size: 20px;
        font-weight: 600;
        margin-top: 2px;
    }
    .info {
        font-size: 18px;
        margin-bottom: 0;
    }
}