        .about-section {
        width: 100%;
        height: auto;
        margin-top: 6%;
        color: #2b2929;
        display: flex;
    }
    
    .about-container {
        width: 100%;
        margin: 0 auto;
        display: flex;
        text-align: center;
    }
    
    .about-content {
        color: #2b2929;
        width: 100%;
        height: auto;
        margin-bottom: 50px;
    }
    
    .abt-ic {
        font-size: 45px;
    }
    
    .text {
        width: 60%;
        margin: 3% auto;
        line-height: 2;
        font-size: 20px;
    }
    
    .about-h2 {
        margin-bottom: 10px;
        color: #2b2929;
        font-size: 40px;
        text-transform: uppercase;
        font-weight: 400;
        text-align: center;
    }
    
    .products {
        display: flex;
        width: 85%;
        margin: 0 auto;
        justify-content: center;
        padding-bottom: 30px;
    }
    
    .product {
        width: 20%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    .product p {
        text-transform: uppercase;
        font-weight: 400;
    }
    
    .pr-ic {
        font-size: 40px;
        padding-bottom: 30px;
    }
    
    .line-x {
        height: 3px;
        width: 30%;
        background-color: #2b2929;
    }
    
    @media only screen and (max-width: 600px) {
        .about-section {
            height: 350px;
        }
        .about-h2 {
            margin-left: 50px;
            margin-top: 0px;
            margin-bottom: 10px;
            color: #2b2929;
            font-size: 28px;
        }
        .abt-ic {
            font-size: 30px;
            margin-left: 50px;
        }
        .about-container {
            flex-direction: column;
            text-align: center;
        }
        .text {
            width: 100%;
            margin-bottom: 30px;
            line-height: 2;
            font-size: 16px;
            margin-left: 45px;
        }
        
        .about-content {
            color: #2b2929;
            width: 85%;
        }
        .products {
            display: flex;
            /* width: 85%; */
            margin-left: 85px;
            justify-content: center;
            padding-bottom: 30px;
        }
        .pr-ic {
            font-size: 30px;
            padding-bottom: 10px;
        }
        .product p {
            font-size: 13px;
        }
    }
